<br />

<div class="booyah-box col-10 offset-1 about">
  <h1>About Flixster</h1>

  <p>
    Flixster was built by <a target="_Anu" href="http://github.com/codingwollf">Anu</a>. Flixster is a random video hosting site, and anyone can submit their own video lessons too. It's fantastic! Many of the lessons that Anu has entered are about food for no reason whatsoever. 
  </p>
 <br />
  <p> 
  	There are several videos already added by Anu, the creator. Also, the videos are all the same because it is a fantastic video. Check it out! Thank you for visiting Flixster!
  </p>
  <br />
  <p>
    Anu learned how to develop this web application through the UofT SCS Coding BootCamp. If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

<div class="row">
    <div class="col-12 col-sm-4">
      <img src="https://anugarcha-2e9b4c.netlify.com/me.jpg" alt="Anu" width="500" height="600" class="img-fluid">
    </div>

    <div class="col-12 col-sm-7 offset-sm-1">
      <h2 class="text-center">Anu Garcha</h2>
      <br />
      <p>
        Anu is a Geographer and environmental enthusiast. She is also learning to be an avid web developer, (<a target="_blank" href="https://anugarcha-2e9b4c.netlify.com/">Netlify</a>), and most recently is blogging about coding and her daily life on <a target="_blank" href="https://medium.com/@anu.garcha12">Medium</a>, as well as building a platform to discuss environmental issues. 
      </p>
    </div>
  </div>
  <br class="clear" />

  </div>

  <br class="clear" />
<br />
<br />
<br />
<br />
